

.footer{
    background-color: #0C0C0C;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    margin-top: 5em;

    p{
        margin: 0em;
        font-size: 0.9em;
        font-weight: 200;
    }
}