

.skills{
    background-color: hsl(0, 0%, 5%);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;    

    .card{
        background-color: hsl(0, 0%, 7%);
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 40px;
        text-align: center;
        max-width: 300px;
    }

    .card + .card{
        margin-top: 2em;
    }

    .card:last-child{
        margin-bottom: -4em;
        padding-bottom: 4em;
    }
}

@media only screen and (min-width: 800px){
    .skills{
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2em;

        .card{
            height: 500px;
        }

        .card + .card{
            margin-top: 0em;
        }

        .card{
            margin-bottom: -4em;
            padding-bottom: 4em;
        }
    }
}


@media only screen and (min-width: 1000px){
    .skills {
        padding-top: 10em;
    }
}