<div class="skills">
    <div class = "card">
        <img src="./assets/vector_images/angular.svg" alt="Frontend Development">
        <h3>Frontend Development</h3>
        <p>I work with Angular and RxJS to create Front-end applications. 
            I also have little experience with React and Redux, but I put focus on Angular.
            or styling, I use SCSS. I know vanilla javascript and typescript,
            often using Greensocks and ScrollReveal libraries for the animation
        </p>
    </div>
    <div class = "card">
        <img src="./assets/vector_images/Pointer.svg" alt="UI/UX Design">
        <h3>UI/UX Design</h3>
        <p>I can create compelling, easy to navigate and good looking experiences.
            I know design fundamentals I am gaining more experience creating for the users 
            becoming more proficient with Design
        </p>
    </div>
</div>
