.my-work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            font-size: 0.8em;
            font-weight: 600;
            letter-spacing: 0.4em;
            margin-bottom: -0.8em;
        }

        h2 {
            font-size: 2.5em;
            font-weight: 300;
            letter-spacing: 0.075em;
            margin: 0;
        }

        p {
            text-align: center;
            margin-bottom: 1em;
            padding: 0 1em;
            font-size: 0.9em;
        }

        .buttons {
            display: flex;
            gap: 2em;
            align-items: center;
        }
    }

    .picture {
        display: none;
    }


    .red {
        color: #AE0808;
    }

    .green {
        color: #08AE0F;
    }

    .blue {
        color: #030DFD;
    }

    .yellow {
        color: #FF7A00;
    }
}

@media only screen and(min-width: 500px) {
    .my-work-card {
        padding-left: 2em;

        .text {

            align-items: flex-start;

            p {
                text-align: left;
                padding: 0;
            }
        }
    }
}

@media only screen and(min-width: 700px) {

    .my-work-card{
        display: flex;
        flex-direction: row;
        gap: 2em;

        .picture {
            display: block;
            filter: brightness(50%);
            align-self: center;
            border-radius: 0.45em;
            height: 200px;
            margin-right: 1em;
        }
    }

    .my-work-card:nth-child(2n){
        padding-left: 2em;
        padding-right: 2em;
        flex-direction: row-reverse;
        
    }

}

@media only screen and(min-width: 800px) {
    .my-work-card{
        .picture {
            height: 250px;
            border-radius: 1em;
        }
    }
}


@media only screen and(min-width: 1000px) {

    .my-work-card{
        margin-right: -18em;

        .text {
            p {
                font-size: 1em;
            }

            h4 {
                font-size: 1em;
            }

            h2 {
                font-size: 4em;
            }
        }

        .picture {
            height: 500px;
            border-radius: 2em;
        }
    }

    .my-work-card:nth-child(2n){
        margin-right: 0em;
        margin-left: -18em;
    }
}


@media only screen and(min-width: 1200px) {

    .my-work-card{
        .picture {
            height: 600px;
        }
    }
}


