
<div class ="my-work-card" *ngFor="let card of cards; index as i">
    <div class="text">
        <h4 [class] = "types[card.type-1].class">{{types[card.type-1].name}}</h4>
        <h2>{{card.header}}</h2>
        <app-discription-box class = "discriptions" [card] = card></app-discription-box>
        <div class = "buttons">
            <app-button-live
                *ngIf = 'card.linkLive != ""'
                [link] = card.linkLive
            ></app-button-live>
            <app-button-code
                *ngIf = 'card.linkCode != ""'
                [link] = card.linkCode
            ></app-button-code>
        </div>
    </div>
    <gallery 
        id = "gallery{{i}}" 
        class = "picture"
        [items]="images[i]"  
        [imageSize] = "'cover'"
        [thumb] = false
        [counter] = false
        gallerize = {{i}}>
    </gallery>

</div>