





.my-work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            font-size: 0.8em;
            font-weight: 600;
            letter-spacing: 0.4em;
            margin-bottom: -0.8em;
            
        }

        h2 {
            font-size: 2.5em;
            font-weight: 300;
            letter-spacing: 0.075em;
            margin: 0;
            text-align: center;
        }

        .discriptions{

            display: flex;
            flex-direction: column;
            background-color: #0C0C0C;
            padding: 1em;
            border-radius: 10px;
            width: 90vw;
            min-height: 200px;
            margin: 1em 0em;
            transition: 500ms;

            .buttons{
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 1em;
                    justify-content: center;

                button{
                    background-color: transparent;
                    cursor: pointer;
                    border: none;
                    transition: 200ms;
                    color: rgba(255, 255, 255, 0.25);
                    font-size: 1em;
                    font-weight: 300;
                    letter-spacing: 0.2em;
                    font-style: italic;
                    
                }

                .active{
                    color: white;
                }

            }
            
            p {
                text-align: center;
                margin: 0em;
                font-size: 0.9em;
            }

        }

        .buttons {
            display: flex;
            gap: 1em;
            align-items: center;
        }
    }

    .picture {
        display: none;
    }


    .red {
        color: #AE0808;
    }

    .green {
        color: #08AE0F;
    }

    .blue {
        color: #030DFD;
    }

    .yellow {
        color: #FF7A00;
    }
}


@media only screen and(min-width: 700px) {

    .my-work-card{
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding-left: 2em;

        .picture {
            display: block;
            filter: brightness(50%);
            align-self: center;
            border-radius: 0.45em;
            height: 250px;
            border-radius: 1em;
            margin-right: 1em;
        }
        
        .text {

            align-items: flex-start;

            h2{
                text-align: left;
            }
            .discriptions{

                width: 100%;

                 .buttons{
                    justify-content: start;
                }
                
                p {
                    text-align: left;
                    padding: 0;
                }
            }
        }
    }

    .my-work-card:nth-child(2n){
        padding-left: 2em;
        padding-right: 2em;
        flex-direction: row-reverse;
        
    }

}

@media only screen and(min-width: 1000px) {

    .my-work-card{

        .text {

            h4 {
                font-size: 1em;
            }

            h2 {
                font-size: 3.5em;
            }

            .discriptions{

                p {
                    font-size: 1em;
                }
            }

        }

        .picture {
            height: 350px;
            border-radius: 2em;
        }
    }

    .my-work-card:nth-child(2n){
        margin-right: 0em;
    }
}
