





.my-work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            font-size: 0.8em;
            font-weight: 600;
            letter-spacing: 0.4em;
            margin-bottom: -0.8em;
            
        }

        h2 {
            font-size: 2.5em;
            font-weight: 300;
            letter-spacing: 0.075em;
            margin: 0;
            text-align: center;
        }

        .buttons {
            display: flex;
            gap: 1em;
            align-items: center;
        }
    }

    .picture {
        display: none;
    }


    .red {
        color: #AE0808;
    }

    .green {
        color: #08AE0F;
    }

    .blue {
        color: #030DFD;
    }

    .yellow {
        color: #FF7A00;
    }
}


@media only screen and(min-width: 700px) {

    .my-work-card{
        display: flex;
        flex-direction: row;
        gap: 1em;
        padding-left: 1em;
        
        .text {

            align-items: flex-start;
            padding-bottom: 1em;
            width: 50%;

            h2{
                text-align: left;
            }

            .discriptions {
                width: 100%;
            }
        }
        .picture {
            display: block;
            filter: brightness(60%);
            cursor: pointer;
            align-self: center;
            border-radius: 0.45em;
            width: 50%;
            border-radius: 1em;
            height: 360px;
        }
    }

    .my-work-card:nth-child(2n){
        padding-left: 2em;
        padding-right: 2em;
        flex-direction: row-reverse;
        
    }

}

@media only screen and(min-width: 1200px) {

    .my-work-card{

        justify-content: space-between;

        gap: 2em;
        padding-left: 2em;
        padding-right: 2em;

        .text {

            max-width: 600px;;

            h4 {
                font-size: 1em;
            }

            h2 {
                font-size: 3.5em;
            }

        }

        .picture {
            border-radius: 1em;
            width: 45%;
            max-width: 600px;
        }
    }

    .my-work-card:nth-child(2n){
        margin-right: 0em;
        
        .text {
            width: 45%;
            max-width: 600px;;
        }
    }
}


@media only screen and(min-width: 1500px) {

    .my-work-card{

        justify-content: space-around;
    }
}