<div class="fetured">
    <div class = "text">
        <h4>Featured Project</h4>
        <h2>Pilot Page</h2>
        <p>
            This page was created for a Dutch client.
            I cleaned the code from his contact information at his request.
            The original page was taken down after he changed his line of work but was
            operational for a good few months. It’s a static page using HTML and SCSS 
            with the addition of ScrollReveal for the scroll animation.
        </p>
        <div class="buttons">
            <app-button-code [link]="linktocode"></app-button-code>
            <app-button-live [link]="linktowork" ></app-button-live>
        </div>
    </div>
    <img class = "picture" src="./assets/images/pilotpage.png" alt="pilotpage">
</div>
